.page.study {
  /* padding-left: 300px; */
  /* display: flex;
  justify-content: center; */
}
#study-container {
  padding-left: 100px;
  display: flex;
  background-color: turquoise;
  align-items: center;
  height: 500px;
  width: 650px;
  display: flex;
  justify-content: center;
}
#study-box {
  height: 400px;
  width: 600px;
  background-color: #eaeaea;
  flex-grow: 4;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px 5px 5px 5px;
}
#study-box > div {
  align-items: center;
  background-color: white;
}
#card-side-front,
#card-side-back {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60%;
  /* padding-top: 100px;
  padding-left: 30px;
  text-align: center;
  width: 70%;
  height: 70%; */
}
.front-image,
.back-image {
  padding-top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
