.page.study {
  /* padding-left: 300px; */
  /* display: flex;
  justify-content: center; */
}
#study-container {
  /* padding-left: 100px; */
  display: flex;
  /* background-color: turquoise; */
  align-items: center;
  /* height: 500px; */
  /* width: 650px; */
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#study-box {
  height: 500px;
  width: 600px;
  margin-top: 50px;
  background-color: #eaeaea;
  /* flex-grow: 4; */
  display: flex;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}
#study-box > div {
  align-items: center;
  background-color: white;
}
#card-side-front,
#card-side-back {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  /* padding-top: 100px;
  padding-left: 30px;
  text-align: center;
  width: 70%;
  height: 70%; */
}
.front-image,
.back-image {
  padding-top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.study-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.study-buttons a {
  margin: 20px;
}
#card-side-front img,
#card-side-back img {
  min-width: 400px;
  /* height: 100px; */
  /* margin: 0px 10px; */
}
